*{
    padding:0px;
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

header{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display:flex;
    font-weight:800;
    justify-content: center;
    transition: font-size 1s;
    font-size: 30px;
}

header:hover{font-size: 40px;}

h1{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display:flex;
    font-weight:800;
    justify-content: center;
    transition: font-size 1s;
}

h1:hover{font-size: 40px;}

h2{
    font-weight: 700;
}

body{background-image: url(img/paper.webp);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;      
min-height: 60vh;
transition:all 1s;
padding-top:50px;
}

label{padding:20px; background-color: rgb(247, 247, 247);}

label:hover{background-color:rgb(208, 208, 255);}

button:hover{
    font-size: 1.15rem;
    width:75%;
    height:36.96px;
    background-color: rgb(31, 31, 255);
}

button{
    display:flex;
    border:2px solid rgb(0, 0, 0);
    color: white;
    background-color: rgb(61, 61, 255);
    flex-direction:column;
    align-self: center;
    justify-content: center;
    margin-left:20px;
    margin-right:20px;
    transition: all .33s;
    width:66%;
    height:33px;
    border-radius: 7px;
}

.save-news{
    background-color: #477c2b;
}

.save-news:hover{
    background-color: #49812b;
}

.load-news{
    background-color: rgb(154, 78, 189);
}

.load-news:hover{
    background-color: rgb(124, 63, 152);
}

.clear-news{
    background-color: #c53e40;
}

.clear-news:hover{
    background-color: #bf3b3d;
}

.app{
    background-color: white; 
    display: flex; 
    flex-direction:column;
    box-shadow: 0px 0px 20px black;
    width:50%;
    border-radius: 10px;
}

.saved-display{
    background-color: white; 
    padding:20px;
    display: flex; 
    flex-direction:column;
    box-shadow: 0px 0px 20px black;
    width:50%;
    border-radius: 10px;
}

.fieldset-labels{
    display:grid;
    grid-template-areas: 
    "one two"
    "three four"
    ;
}

.display{
    padding:20px;
    overflow: hidden;
    max-height: 500px;
    transition: height 1s;
}


#mu{grid-area: one;}

#mo{grid-area: two;}

#ga{grid-area: three;}

#ce{grid-area: four;}