@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

 .m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

html{font-family:"M PLUS Rounded 1c"; background-color:#335770; color:#272838; font-size: 16px; padding-bottom: .5em; padding-top: .5em;}
body{padding-bottom: 100px;background-color: #f8f7ff;}
h1{font-size:2em; padding-bottom:1em; padding-top:1em; text-align: center;}
h2{font-size:1.8333em; padding-bottom:.4583em; padding-top:.9166em; text-align: center; text-decoration:underline;}
h3{font-size:1.6667em; padding-bottom:.41665em; padding-top:.41665em; background-color:#c695ba4a}
h4{font-size:1.5em; padding-bottom:.375em; padding-top:.375em;background-color:#c695ba26}
h5{font-size:1.3333em; padding-bottom:.3333em; padding-top:.6666em}
h6{font-size:1.16em; padding-bottom:.29em; padding-top: .58em}
small{font-size:.85em; padding-bottom:.2125em; padding-top:.425}
embed{display:block; margin:0 auto}
h3,h4,h5,h6,p{padding-left: 15px;}

h1{background-color:#c695ba; color:#272838;}
a{padding-left: 15px; color:#335770; text-decoration:none;}
a:visited{padding-left: 15px; color: #774069; text-decoration:none;}
a:hover{padding-left: 15px; text-decoration:none; font-size:1.5em; color:#c695ba;}
.nav{padding-left:0; padding-bottom: 2em; background-color:#f8f7ff; display:flex; list-style:none; justify-content:space-evenly;}
footer{position:fixed; bottom:0; left:0; width:100%; text-align:center; background-color:#335770; color:#f8f7ff;}
.performative{flex:1; width:25%; display:block; margin: auto;}
.center{text-align:center;}
