*{
    padding:0px;
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

header{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display:flex;
    font-weight:800;
    justify-content: center;
    transition: font-size 1s;
    font-size: 30px;
}

header:hover{font-size: 40px;}

h1{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1rem;
    /* padding-top: 1rem; */
    display:flex;
    font-weight:800;
    justify-content: center;
    transition: font-size 1s;
}

h1:hover{font-size: 40px;}

h2{
    font-weight: 700;
}

body{background-image: url(img/paper.webp);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;      
min-height: 60vh;
transition:all 1s;
padding-top:50px;
}

label{padding:20px; background-color: rgb(247, 247, 247);}

label:hover{background-color:rgb(208, 208, 255);}

button:hover{
    font-size: 1.15rem;
    width:75%;
    height:36.96px;
    background-color: rgb(31, 31, 255);
}

button{
    display:flex;
    border:2px solid rgb(0, 0, 0);
    color: white;
    background-color: rgb(61, 61, 255);
    flex-direction:column;
    align-self: center;
    justify-content: center;
    margin-left:20px;
    margin-right:20px;
    transition: all .33s;
    width:66%;
    height:33px;
    border-radius: 7px;
}

.save-news{
    background-color: #477c2b;
}

.save-news:hover{
    background-color: #49812b;
}

.load-news{
    background-color: rgb(154, 78, 189);
}

.load-news:hover{
    background-color: rgb(124, 63, 152);
}

.clear-news{
    background-color: #c53e40;
}

.clear-news:hover{
    background-color: #bf3b3d;
}

.app{
    background-color: white; 
    display: flex; 
    flex-direction:column;
    box-shadow: 0px 0px 20px black;
    width:50%;
    border-radius: 10px;
}

a{
    color: rgb(61, 61, 255);
    transition: all .33s;
}

a:visited{
    color: rgb(154, 78, 189)
}

a:hover{
    color: #477c2b;
    font-size: 1.1rem;
}

.saved-display{
    background-color: white; 
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    display: flex; 
    flex-direction:column;
    box-shadow: 0px 0px 20px black;
    width:50%;
    border-radius: 10px;
}

.fieldset-labels{
    display:grid;
    grid-template-areas: 
    "one two"
    "three four"
    ;
}

.display{
    padding:20px;
    overflow: hidden;
    max-height: 500px;
    transition: height 1s;
}


#mu{grid-area: one;}

#mo{grid-area: two;}

#ga{grid-area: three;}

#ce{grid-area: four;}








body {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  /* padding-bottom: 30px; */
  /* background-color: #eee; */
  margin: 0 auto;
  padding: 0;
}

svg#music {
  width: 70%;
  margin: 0 auto;
  display: block;
  top: 20px;
  position: relative;
}

g#XMLID_56_,
g#XMLID_53_ {
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

g#XMLID_57_,
g#XMLID_59_ {
  animation-name: scalebigger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

g#XMLID_80_ {
  animation-name: soundleft;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-timing-function: linear;
}

g#XMLID_81_ {
  animation-name: soundright;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-timing-function: linear;
}

g#XMLID_125_,
g#XMLID_127_ {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-timing-function: linear;
}

@keyframes soundleft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25px);
  }
}

@keyframes soundright {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    transform-origin: center center;
  }
  50% {
    transform: scale(1.06);
    transform-origin: center center;
  }
}

@keyframes scalebigger {
  0% {
    transform: scale(1);
    transform-origin: center center;
  }
  50% {
    transform: scale(1.1);
    transform-origin: center center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
