*{
    padding:0px;
    margin:0px;
}

h1{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display:flex;
    justify-content: center;
    transition: font-size 1s;
}

h1:hover{font-size: 40px;}

body{background-image: url(img/paper.webp);
display: flex;
justify-content: center;
align-items: center;      
min-height: 60vh;
transition:all 1s;
}

label{padding:20px; background-color: rgb(247, 247, 247);}

label:hover{background-color:rgb(208, 208, 255);}

button:hover{
    font-size: 1.15rem;
    width:75%;
    height:36.96px;
    background-color: rgb(31, 31, 255);
}

button{
    display:flex;
    border:2px solid rgb(0, 0, 0);
    color: white;
    background-color: rgb(61, 61, 255);
    flex-direction:column;
    align-self: center;
    justify-content: center;
    margin-left:20px;
    margin-right:20px;
    transition: all .33s;
    width:66%;
    height:33px;
}

.app{
    background-color: white; 
    display: flex; 
    flex-direction:column;
    box-shadow: 0px 0px 20px black;
    width:50%;
    border-radius: 10px;
}

.labels{
    display:grid;
    grid-template-areas: 
    "one two"
    "three four"
    ;
}

.display{
    padding:20px;
}

#mu{grid-area: one;}

#mo{grid-area: two;}

#ga{grid-area: three;}

#ce{grid-area: four;}